html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1B202C;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,Cantarell,"Fira Sans","Droid Sans",Helvetica Neue,sans-serif;
}

#main-header {
    height: 60px;
    background-color: #191A21;
    padding: 0 20px;
}

#main-header h1 {
    margin: 0;
}

#main-header img {
    width: 40px;
    height: 40px;
}

#main-header .wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 60px;
}

#main-header span {
    color: #BD93F9;
}

#main-header button {
    margin: 0 0 0 auto;
    background: none;
    border: 2px solid #61719A;
    color: #61719A;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
}

#main-header button:hover {
    background: #000;
}

.wrapper {
    width: 900px;
    margin: 0 auto; /* centraliza div */
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000000a1; /* 6 digitos e os 2 ultimos digitos são a opacidade da transparencia*/
    display: none;
    justify-content: center;
    align-items: center;
}

.modal .modal-content {
    width: 400px;
    min-width: 300px;
    min-height: 100px;
    background: #282A36;
    border-radius: 20px;
    padding: 20px;
    position: relative;

}

.modal .modal-content h1 {
    margin: 0;
}

.modal .modal-content button.btn-close, #tickers-list .ticker button.btn-close {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 20px;
    border: none;
    background: none;
    color: #FF79C6;
    font-family: 'Konkhmer Sleokchher', cursive;
    padding: 10px;
    cursor: pointer;
}

#add-stock form {
    margin: 20px 0 0 0;
    font-family: 'Konkhmer Sleokchher', cursive;

}

#ticker {
    border: solid 2px #BD93F9;
    background: none;
}

#add-stock form input{
    border-radius: 10px 10px 10px;  

}

#btnAdd {
    background-color:#BD93F9;
    border: none;
    width: 85px;
    height: 23px;
    color:#282A36;
    font-family: 'Konkhmer Sleokchher', cursive;
    font-size: 12px;
}

#tickers-list {
    display: flex;
    gap: 30px;
    padding: 20PX;

}

#tickers-list .ticker {
    background-color:#282A36 ; /* 6 digitos e os 2 ultimos digitos são a opacidade da transparencia*/
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    width: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#tickers-list .ticker h2{
    margin-top: 0;
}

#tickers-list .ticker p{
    margin: 0;
}

.ticker p.increase{
    color: rgb(68, 177, 18);
}

.ticker p.decrease {
    color: rgb(219, 45, 14);
}

#tickers-list .ticker button.btn-close{
    line-height: 14px;
    right: 5px;
    display: none;
}